// colors

$main-bg-color: #fff;
$base-font-color: #000;

$gray: #444;
$white: #fff;
$light-gray: #f1f1f1;
$accent-color: #62d1ba;

$green-lighter: #63d1bb;
$green-darker: #56c3b2;

// fonts

$opensans: "Open Sans", "Arial", sans-serif;
$opensans-bold: "Open Sans Bold", "Arial", sans-serif;

$mobile-widths-only: "max-width: 700px";
$tablet-widths: "min-width: 701px";
$desktop-widths: "min-width: 1050px";
