.about-us {
  @include container-fluid();

  @include block-padding(35px);
  font-size: 17px;
  font-family: $opensans-bold;

  h2 {
    margin-bottom: 35px;
  }
}
.about-us__item {
  padding-bottom: 25px;
  padding-right: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us__img {
  display: block;
  margin-bottom: 15px;
  fill: #62d1ba
}

@media ($tablet-widths) {
  .about-us {
    padding: 70px 50px 30px;
    h2 {
      margin-bottom: 50px;
    }
  }
  .about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-us__item {
    flex-basis: 50%;
    padding-bottom: 50px;
    font-size: 20px;
    padding-right: 0;

    &[title=eco] {
      order: 1;
    }
    &[title=hand-made] {
      order: 2;
    }
    &[title^=scand] {
      order: 3;
    }
    &[title^=domestic] {
      order: 4;
    }
    &[title^=likes] {
      order: 5;
    }
    &[title^=gift] {
      order: 6;
    }
  }
  .about-us__img {
    margin-bottom: 10px;
  }
}
@media ($desktop-widths) {
  .about-us {
    padding-top: 80px;
    padding-bottom: 30px;
    .main-content__wrapper {
      padding-right: 16%;
    }
    h2 {
      margin-bottom: 55px;
    }
  }
  .about-us__item {
    padding-bottom: 60px;
  }
}
