.button {
  display: block;
  width: 100%;

  text-transform: uppercase;
  text-align: center;
  color: $gray;
  border: 2px solid $gray;
  background-color: transparent;
  padding: 15px;
  margin-top: 40px;
  font-size: 17px;
  font-family: $opensans-bold;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $gray;
    color: $white;
    outline: none;
  }
  &:active {
    background-color: $gray;
    color: rgba($white, 0.3);
  }

  &--accent {
    background-color: $accent-color;
    border-color: $accent-color;
    color: $white;
    width: 100%;
    &:hover, &:focus {
      border-color:  $green-darker;
      background-color: $green-darker;
      color: $white;
    }
    &:active {
      color: rgba($white, 0.3);
    }
  }
}
