.category-list{
}

.category-list__item{
  font-size: 19px;
  font-family: $opensans-bold;
  flex-basis: 100%;


  &:first-of-type{
    background-color: $green-lighter;
    &:hover, &:focus, &:active {
      background-color: #59d5bc;
    }
  }
  &:last-of-type{
    background-color: $green-darker;
    &:hover, &:focus, &:active {
      background-color: #46c1ae;
    }
  }
}


.category-list__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 30px;
  color: $main-bg-color;
  &:hover, &:focus {
    color: $main-bg-color;
  }
  &:active {
    color: rgba($main-bg-color, 0.3);
  }
}

@media ($tablet-widths) {
  .category-list {
    @include container-fluid();
    display: flex;
  }
  .category-list__item {
    flex-basis: 50%;
    font-size: 20px;
  }
}
