.custom-checkbox {
  display: block;
  margin-top: 30px;
  &:before {
    content: '';
    float: left;
    margin-right: 25px;
    width: 36px;
    height: 36px;
    @include inputs-border();
  }
  &:after{
    content: '';
    clear: both;
  }
  span {
    display: block;
    padding: 8px 0;
  }
}
input[type="checkbox"]{
  &:checked + .custom-checkbox:before {
    background-image: url('../img/icon-tick.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70%;
  }
  &:not(checked) + .custom-checkbox:hover:before,
  &:not(checked) + .custom-checkbox:focus:before {
    border-color: $accent-color;

  }
  &:not(checked) + .custom-checkbox:active:before {
    border-color: rgba($gray, 0.3);
  }
}

@media ($tablet-widths) {
  .custom-checkbox:nth-of-type(-n+2) {
    margin-top: 0;
  }
  .custom-checkbox {
    flex-basis: 50%;
    margin-top: 25px;
  }
}

@media ($desktop-widths) {
  .custom-checkbox:nth-of-type(-n+3) {
    margin-top: 0;
  }
  .custom-checkbox {
    flex-basis: 33%;
  }
}
