.footer {
  background: $light-gray;
}
.footer__wrapper {
  @include block-padding(22px);
  @include container-fluid();
}
.footer__logo {
  display: none;
}

.footer__logo-link {
  &:hover, &:focus {
    cursor: pointer;
    svg {
      fill: $accent-color;
    }
  }
  &:active {
    svg {
      fill: rgba($accent-color, 0.3);
    }
  }
}

@media ($tablet-widths) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__logo {
    display: block;
    flex-basis: 30%;
  }
}
