.main-content {
}
.main-content__header {
  background-color: #f1f1f1;
  &--main-page {
    background-image: url('../img/hero-mobile@1x.jpg');
    background-color: #F9F9F9;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
@media ($tablet-widths) {
  .main-content {
    header {
    }
  }
}
@media ($desktop-widths) {
  .product {
    padding-top: 135px;

  }
  .main-content__wrapper {
    padding-left: 16%;
  }
}
