.modal-window {
  @include block-padding();
  border: 1px solid #c6c6c6;
  text-align: center;
  box-shadow: 0 5px 10px rgba(#000101, 0.25);
  p {
    font-size: 15px;
  }
  h2 {
    text-transform: uppercase;
  }
}

.modal-window__input {
  display: none;
  &:checked + .modal-window__label:before {
    opacity: 1;
    border-color: $accent-color;
  }
  &:not(checked) + .modal-window__label:hover:before,
  &:not(checked) + .modal-window__label:focus:before {
    border-color: rgba($gray, 0.3);

  }
  &:not(checked) + .modal-window__label:active:before {
    border-color: $accent-color;
  }
}

.modal-window__label {
  margin-top: 30px;
  display: block;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 30%;
    height: 50px;
    @include inputs-border();
    border-color: rgba($gray, 0.1);
  }
  &:after{
    content: '';
  }
  span {
    font-family: $opensans-bold;
    font-size: 17px;
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    left: 36px;
    text-align: center;
    margin: 0 auto;
  }
}


@media ($tablet-widths) {
  .modal-window {
    width: 85%;
    margin: 0 auto;
    h2 {
      font-size: 30px;
    }
  }
}

@media ($desktop-widths) {
  .modal-window {
    width: 54%;
    margin: 0 auto;
    h2 {
      font-size: 30px;
    }
  }
}
