.modal-window {
  @include block-padding();
  border: 1px solid #c6c6c6;
  width: 100%;
  text-align: center;
  box-shadow: 0 5px 10px rgba(#000101, 0.25);
  background: #fff;
  position: fixed;
  transform: translateY(-50%);
  left: 0;
  display: none;
  opacity: 0;
  z-index: 5;
  overflow: auto;
  p {
    font-size: 15px;
  }
  h2 {
    text-transform: uppercase;
  }
}

.modal-window__input {
  display: none;
  &:checked + .modal-window__label:before {
    opacity: 1;
    border-color: $accent-color;
  }
  &:not(checked) + .modal-window__label:hover:before,
  &:not(checked) + .modal-window__label:focus:before {
    border-color: rgba($gray, 0.3);

  }
  &:not(checked) + .modal-window__label:active:before {
    border-color: $accent-color;
  }
}

.modal-window__label {
  margin-top: 30px;
  display: block;
  position: relative;
  &:before {
    content: '';
    display: block;
    // width: 30%;
    height: 50px;
    @include inputs-border();
    border-color: rgba($gray, 0.1);
  }
  &:after{
    content: '';
  }
  span {
    font-family: $opensans-bold;
    font-size: 17px;
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0 auto;
  }
}

.modal-window__checkboxes {
  display: flex;
  justify-content: space-between;
}
.modal-window__checkbox-item {
  flex-basis: 30%;
}

@media ($tablet-widths) {
  .modal-window {
    width: 85%;
    margin: 0 auto;
    padding: 45px 108px;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 30px;
    }
  }
}

@media ($desktop-widths) {
  .modal-window {
    width: 54%;
    margin: 0 auto;
    h2 {
      font-size: 30px;
    }
  }
}

#overlay {
  z-index:3;
  position:fixed;
  background-color:#000;
  opacity:0.5;
  -moz-opacity:0.5;
  filter:alpha(opacity=50);
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
}
