.order-page {
  @include block-padding();

  legend {
    color: $accent-color;
    font-size: 17px;
    font-family: $opensans-bold;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 0;
  }

  label {
    font-size: 17px;
    font-family: $opensans-bold;

    &[for="phone"], &[for="email"], &[for="add-info"] {
      display: none;
    }
  }

  input[type=radio], input[type=checkbox] {
    display: none;
  }
}

.order-page__intro {
  font-size: 13px;
  line-height: 24px;
}
.order-page__req {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media ($tablet-widths) {
  .order-page {
    padding: 80px 0 50px;

    label {
      font-size: 19px;
    }
  }
  .order-page__intro {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .order-page__footer {
    display: flex;
    padding: 0 50px;
  }

  .order-page__footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .order-page__req {
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }
  .order-page__button {
    flex-basis: 35%;
    margin-top: 0;
  }

  .personal-info__label {
    padding-right: 20px;
  }
}

@media ($desktop-widths) {
  .order-page__intro-wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .order-page__intro {
    max-width: 66.7%;
    margin: 0 auto;
    padding: 0;
  }

  .order-page__footer {
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .order-page__footer-wrapper {
    width: 66.7%;
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
  }
}
