.page-title {
  @include container-fluid ();
  // background-color: $light-gray;
  padding: 70px 30px;
  text-align: center;
  margin-bottom: 0;
  &--main-page {
    background-color: transparent;
    padding: 70px 30px 125px;
  }
}

@media ($tablet-widths) {
  .page-title {
    font-size: 43px;
    line-height: 50px;
    background-size: cover;
    padding: 90px 80px;
    &--main-page {
      min-height: 625px;
      padding: 150px 80px;
    }
  }
}
@media ($desktop-widths) {
  .page-title {
    font-size: 53px;
    line-height: 57px;
    background-size: contain;
    padding: 90px 0 125px;
    max-width: 700px;

    &--main-page {
      padding: 152px 0;
    }
  }
}
