.product {
  @include container-fluid();
  @include block-padding();

}

.product__title {
  &--week {
    h4 {
      color: $green-lighter;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 16px;
      br {
        display: none;
      }
    }
  }
}
.product__description {
}

.product__characteristics {
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
  tbody {
    tr {
      td {
        border-bottom: 1px solid $light-gray;
        padding: 10px 0;
        font-size: 15px;
      }
    }
  }
}

.product__footer {
}

.product__price {
  text-align: center;
  width: 100%;
  font-family: $opensans-bold;
  font-size: 20px;
}

.product__image {
  height: auto;
  width: 100%;
}

@media ($tablet-widths) {
  .product {
    padding: 35px 50px;
  }
  .product__description {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .product__about {
    max-width: 50%;
    margin-top: 0;
    font-size: 17px;
    padding-right: 45px;
  }
  .product__characteristics {
    padding-right: 45px;
  }
  .product__footer {
    max-width: 50%;
    padding-right: 45px;
  }
  .product__image {
    height: 100%;
    width: auto;
    max-width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .product__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      text-align: center;
      padding-right: 30px;
      br {
        display: inline-block;
      }
    }
  }
}

@media ($desktop-widths) {
  .product {
    padding-top: 135px;

  }
  .product__title {
    &--week {
      position: relative;
    }
    h4 {
      position: absolute;
      top: 13%;
      left: -13%;
    }
  }
  .product__about {
    max-width: 40%;
  }
  .product__footer {
    max-width: 40%;
  }
  .product__image {
    // position: absolute;
    max-width: 60%;
    width: 60%;
    bottom: 0;
    height: auto;
    transform: none;
    top: inherit;
    z-index: -1;
  }
}
