.products {
  @include block-padding(35px);
}

@media ($tablet-widths) {
  .products {
    padding: 70px 50px 55px;
    max-width: 950px;
    margin: 0 auto;
  }
}

@media ($desktop-widths) {
  .products {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    padding: 105px 50px 60px;
  }
}
