.social-links {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 25px;
  border-bottom: 1px solid  #e5e5e5;
  align-items: flex-end;
}

.social-links__item {
  padding: 0 20px;
}

@media ($tablet-widths) {
  .social-links {
    border-bottom: 0;
    padding-bottom: 0;
    flex-basis: 30%;
  }
}
