.video {
  @include block-padding(0);
  @include container-fluid();
  padding-bottom: 60px;
  margin-top: -4px;
}

.video__content {
  border: 1px solid $light-gray;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }

  &:hover, &:focus {
    box-shadow: 0px 6px 10px rgba(#000, 0.1);
    .video__title {
      color: rgba(#000, 0.6);
    }
  }
  &:active {
    box-shadow: 0px 3px 5px rgba(#000, 0.1);
    .video__title {
      color: rgba(#000, 0.3);
    }
  }
  &:focus {
    outline: none;
  }
}

.video__wrapper {
  position: relative;
}

.video__poster {
  width: 100%;
  height: auto;
  position: relative;
  img {
    width: 100%;
  }
}

.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover, &:focus {
    cursor: pointer;
    svg {
      transform: scale(1.2);
    }
  }
  &:active {
    svg {
      transform: scale(0.67);
    }
  }
}

.video__title {
  display: flex;
  padding: 25px 35px;
  align-items: center;
  margin-bottom: 0;
  &:before {
    content: '';
    display: block;
    background-image: url('../img/icons/icon-video.svg');
    background-repeat: no-repeat;
    width: 36px;
    height: 32px;
    padding-right: 28px;
  }
}

.video__info {
  padding: 19px 34px 30px;
  p {
    font-size: 13px;
    line-height: 24px;
  }

  a[title^=Make] {
    margin-top: 25px;
  }
}

@media ($tablet-widths) {
  .video {
    padding-bottom: 65px;
  }
  .video__title {
    order: 1;
    padding: 35px 30px 5px;
    font-size: 20px;
  }
  .video__info {
    order: 1;
    padding: 30px;
    padding-bottom: 45px;
    p {
      font-size: 15px;
      line-height: 30px;
    }
    a[title^=Make] {
      margin-top: 33px;
    }
  }
  .video__wrapper {
    min-height: 450px;
    overflow: hidden;
  }
  .video__poster {
    min-height: 450px;
    width: auto;
    img {
      width: 100%;
    }
  }
}

@media ($desktop-widths) {
  .video {
    padding-bottom: 105px;
  }
  .video__content {
    position: relative;
    align-items: flex-end;
    overflow: hidden;
    min-height: 450px;
  }

  .video__wrapper {
    position: absolute;
    width: 65%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .video__poster {
    img {
      height: 100%;
    }
  }

  .video__title {
    // flex-basis: 40%;
    width: 33%;
    padding: 50px 50px 0 60px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    &:before {
      padding-bottom: 25px;
      padding-right: 0;
    }
  }
  .video__info {
    // flex-basis: 40%;
    width: 33%;
    padding: 15px 60px 60px;
    // padding-top: 30px;
    p {
      // margin-top: 30px;
    }
    a[title^=Make] {
      margin-top: 45px;
    }
  }
}
